body,html {
    height:100%;
    margin:0;
    color: #999;
    background-color: #f6f6f6;

}

h1 {
    font-family: "Lobster", Tahoma, Geneva, sans-serif;
    font-size:80px;
    text-align: center;
    max-width: 100%;
}


.chatbox {
    overflow-y:scroll;
    max-height:260px;
    background-color: #fff;
    position: fixed;
    bottom:40px;
    background-color: white;
    width: 260px;
    right: 0;
    padding-left: 4px;
}

.chat-container {
    position: fixed;
    bottom: 0;
    border: 1px solid #999;
    padding:5px;
    width: 260px;
    height: 300px;
    background-color: white;
    right: 0;
}